h1 It's post
p
  strong Name:
  = @post.title

p
  strong Text:
  = @post.body

h5 It's comment
ul
  - @post.comments.where(parent_id: nil).each do |comment|
    li
      p = comment.content
      ul
        - comment.comments.each do |reply|
          li
            p = reply.content
            = button_to "Destroy this reply", [@post, reply], method: :delete, class: "btn btn-sm btn-danger"
    = render 'partial/form_reply', comment: comment
    = button_to "Destroy this comment", [@post, comment], method: :delete, class: "btn btn-sm btn-danger"
ul
  h3 Your comment:
  = render 'partial/form_comment'

= link_to "Back to posts", root_path, class: "btn btn-sm btn-outline-secondary" 
= button_to "Destroy this post", post_path(@post), method: :delete, class: "btn btn-sm btn-danger" 
